<a href="https://colab.research.google.com/github/arfankv/pythontasks/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.How do you read a CSV file using pandas?

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/rangi/Mall_Customers.csv')
print(df)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

2.How do you display the first few rows of a DataFrame in pandas?

In [ ]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
print(df.loc[1])

calories    380
duration     40
Name: 1, dtype: int64

3.How do you select a specific column from a DataFrame in pandas?

In [ ]:
df[df.columns[0]]

0    420
1    380
2    390
Name: calories, dtype: int64

4.How do you filter rows in a DataFrame based on a condition using pandas?

In [ ]:
df[df.calories ==420]

   calories  duration
0       420        50

5.How do you sort a DataFrame by a specific column in pandas?

In [ ]:
data=[(420, 50),(380,40),(390,45)]
details=pd.DataFrame(data,columns=['calories','duration'],
                      index=[0,1,2])
df=details.sort_values('duration')
print(df)

   calories  duration
1       380        40
2       390        45
0       420        50

6.How do you group data in a DataFrame using pandas?

In [ ]:
df=df.groupby('duration')
df.first()

          calories
duration
40             380
45             390
50             420

7.How do you perform arithmetic operations on DataFrame columns in pandas?

In [ ]:
df=pd.DataFrame({ 'speed' : [110,90,100], 'weight' : [500,550,600] },
                index=['Audi','Suzuki','BMW'] )
print(df)

        speed  weight
Audi      110     500
Suzuki     90     550
BMW       100     600

In [ ]:
df.add(50)

        speed  weight
Audi      160     550
Suzuki    140     600
BMW       150     650

8.How do you rename columns in a DataFrame using pandas?

In [ ]:
import pandas as pd
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

   9.How do you merge two DataFrames based on a common column in pandas?

In [ ]:
df1=pd.DataFrame({'Name':['amal','akhil','akash'],
                 'Marks':[89,75,80]})
df2=pd.DataFrame({'Name':['amal','akhil','akash'],
                 'Grade':['A','B','A'],
                 'Rank':[1,3,2]})
df1.merge(df2[['Name','Grade','Rank']])

    Name  Marks Grade  Rank
0   amal     89     A     1
1  akhil     75     B     3
2  akash     80     A     2